:root {
  --color-gray: #f9f8fd;
  --color-gray-1: #f5f6fa;
  --color-greenlight: #0be294;
  --color-greenlight-1: #edfcfa;
  --color-greendark: #0ad189;
  --color-salmon: #ff7381;
  --color-salmonlight: #fff2e8;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #0f1a26;
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  background: var(--color-gray);
}

.App {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  height: 100%;
  font-size: 16px;
}
